<div class="general">
    <h2>Mon panier</h2>
    <div *ngFor="let product of store " class="parent">
        <div class="name">{{product.name}}</div>
        <div class="image"><img src="{{product.image}}" class="image"></div>
        <div class="price">{{product.price}} RP</div>
        <div class="type">type : {{product.type}}</div>
        <div class="delete"><img src="../assets/images/logos/remove24.png"></div>
    </div>
</div>

<div class="validationCard">
    {{finalPrice}}
    {{totalChampion}}
</div>















<!-- <div class="general">
        <div class="tittleStore">
            <div>Nom du champion</div>
            <div>Image du champion</div>
            <div>Prix du champion</div>
            <div>Type de champion</div>
        </div>
    <div *ngFor="let product of store " class="productStore">
        <div class="name">{{product.name}}</div>
        <div class="images"><img src="{{product.image}}" class="image"></div>
        <div class="price">{{product.price}}</div>
        <div class="type">{{product.type}}</div>
    </div>
    <div class="sumbitButton">
        <button class="validationButton">valider la commande</button></div>
    <div class="sumbitButton"></div>
</div> -->
