.generalCard{
    display: flex;

}
.general{
    min-width: 53.5%;
    width: max-content;
    background-color: #28292d;
    border-radius: 15px;
    margin-left: 3em;
    padding: 2em 3em 1em 2em;
    max-height: 70%;
    overflow-y: auto;
    color: blueviolet;
    text-align: center;
}

.validationCard{
    width: max-content;
    background-color: #28292d;
    border-radius: 15px;
    padding: 2em 3em 1em 2em;
    overflow-y: auto;
    text-align: center;
    margin: 0 10px;
}

 .totalChampion, .price {
    color: blueviolet;
    margin-top: 1em;

 }

 .submitButtonDelete, .submitButtonValidate{
    color: black;
    font-weight: 600;
    background-color: #45f3ff;
    padding: 35px;
	width: 300px;
    margin-top: 4em;
    margin: 50px 10px;
	border-radius: 5px;
	cursor: pointer;
 }

.submitButtonValidate:hover{
    background-color: green;
}
 .submitButtonDelete:hover{
    background-color: red;
 }

.storeTitle{
    text-align: center;
    color: purple;
    text-decoration: underline solid purple;
    text-underline-offset: 6px;
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 1fr;
    text-align: center;
    background-color: rgba(69, 243, 255, 0.7);
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 10px;
    color: purple;
    letter-spacing: 0.05em;
    font-weight: 600;
    }

    .parent:hover{
        transform: translateY(-4%);
        transition: 0.25s;
        background-color: orange;
        color: blueviolet;
    }
    
    .name {
        margin-top: auto;
        margin-bottom: auto;
    }
    .image {
        width: 50%;
        margin: auto;
        padding: 0.25em;
    }
    .price { 
        margin-top: auto;
        margin-bottom: auto;
    }
    .type {
        margin-top: auto;
        margin-bottom: auto;
    }
    .delete {
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
    }