<div class="generalCard">
    <div class="profilCard">
        <div class="profilPhoto">
            <img src="..\assets\images\Photo de profil\image_yumi.png" width="64px" height="">
        </div>
        <div class="pseudo">
            <input type="text">
        </div>
        <div class="birthdayDate">
            <input type="date">
        </div>
        <div class="description">
            <textarea name="descriptionProfil" id="profilDescription" cols="27" rows="10"></textarea>

        </div>
    </div>
    <div class="informationsProfilCard">
        <div class="nameAndGender">
            <input type="text">Genre
            <input type="text">Nom
            <input type="text">Prénom
            
        </div>
        <div class="adress">
            <input type="text"> adresse postale :  
        </div>
        <div class="zipCodeAndCity">
            <input type="text"> code postale
            <input type="text"> ville
        </div>
        <div class="mail">zdzdzd
            <input type="email">
        </div>
        <div class="phoneNumerAndChangePassword">zdzdaa
            <input type="tel">
            <input type="password">
        </div>
    </div>    
</div>
