.generalCard{
    /* background-color: brown; */
    display: flex;
    padding: 2em;
    margin-left: 2em;
}

@media screen and (min-width : 2540px) {
	.generalCard {
		width: auto;
		height: auto;
	}
}

@media screen and (max-width : 1980px) {
	.generalCard {
		width: auto;
		height: auto;
	}
}

@media screen and (max-width : 1280px) {
	.generalCard {
		width: auto;
		height: auto;
        overflow-x: scroll;
        overflow-y: scroll;
	}
}

@media screen and (max-width : 720px) {
	.generalCard {
		width: auto;
		height: auto;
	}
}

.profilCard{
    background-color: #1c1c1c;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}

.informationsProfilCard{
    background-color: #1c1c1c;
    width: 75%;
    margin-left: 1em;
}

.profilPhoto{
    margin-bottom: 1em;
    margin-top: 2em;
    text-align: center;
}

.pseudo{
    margin-top: 0em;
    margin-bottom: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.birthdayDate{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.Description{
    margin-top: 1em;
    text-align: center;
}

.profilDescription{
    background: #FCC987;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 200px;
    margin-top: 1em;
}

.nameAndGender{
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
}

.adress{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

.zipCodeAndCity{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;

}

 .mail{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}
 .phoneNumerAndChangePassword{
    margin-top: 1em;
    padding: 1em;
}

.profilImage{
    border-radius: 100%;
}

label {
    position: absolute;
    margin-top: 15px;
    margin-left: 25px;
	margin-right: 15px;
    color: #45f3ff;
}

input {
	position: relative;
	width: 230px;
	margin-top: 35px;
	margin-left: 25px;
	margin-right: 5px;
    padding: 10px;
    border-radius: 4px;
    background-color: #FCC987;
    text-align: center;
    color: #1c1c1c;
}

.detailsChange{
    vertical-align: middle;
    cursor: pointer;
}

.descriptionModified{
    border: none;
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: aqua;
    border-radius: 4px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.changePassword{
    border: none;
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
    background-color: aqua;
    border-radius: 4px;
    margin-left: 7em;
}