<div class="generalCard">
        <div class="profilCard">
            <div class="profilPhoto">
                <img src="{{userDetail[0].image}}" width="128px" height="128px" class="profilImage">
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('image')">
            </div>
            <div class="pseudo">
                <label>Pseudo</label>
                <input type="text" placeholder="{{userDetail[0].name}}" readonly="readonly">
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('name')">
            </div>
            <div class="birthdayDate">
                <label>Date de Naissance</label>
                <input type="date" value="{{userDetail[0].birthdate | date: 'shortDate'}}">
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('birthdate')">
            </div>
            <div class="description">
                <textarea name="descriptionProfil" id="profilDescription" cols="27" rows="10" placeholder="{{userDetail[0].description}}" readonly="readonly" class="profilDescription"></textarea>
            </div>
            <div class="buttonDescription">
                <button class="descriptionModified" (click)="detailsChangeOpenModale('description')"> Modifier la description </button>
            </div>
        </div>
        <div class="informationsProfilCard">
            <div class="nameAndGender">
                <label>Genre</label>
                <input type="text" placeholder="{{userDetail[0].gender}}" readonly="readonly">
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('gender')">
                <label>Nom</label>
                <input type="text" placeholder="{{userDetail[0].lastName}}" readonly="readonly">
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('lastName')">
                <label>Prénom</label>
                <input type="text" placeholder="{{userDetail[0].firstName}}" readonly="readonly">
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('firstName')">
                
            </div>
            <div class="adress">
                <label>Adresse Postale</label>
                <input type="text" placeholder="{{userDetail[0].address}}" readonly="readonly">  
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('address')">
            </div>
            <div class="zipCodeAndCity">
                <label>Code Postale</label>
                <input type="text" placeholder="{{userDetail[0].zipCode}}" readonly="readonly">
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('zipCode')">
                <label>ville</label>
                <input type="text" placeholder="{{userDetail[0].city}}" readonly="readonly">
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('city')">
            </div>
            <div class="mail">
                <label>Adresse Email</label>
                <input type="email" placeholder="{{userDetail[0].mail}}" readonly="readonly">
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('mail')">
            </div>
            <div class="phoneNumerAndChangePassword">
                <label>Numéro de téléphone</label>
                <input type="tel" class="phone" placeholder="{{userDetail[0].phoneNumber}}" readonly="readonly">
                <img src="../assets/images/logos/crayon24.png" class="detailsChange" (click)="detailsChangeOpenModale('phoneNumber')">
                <button class="changePassword">Modifier le mot de passe</button>
            </div>
        </div>
</div>

<div class="modale" >
    <app-detail-change *ngIf="detailChange" (closeModale)="detailChangesCloseModale($event)" [userDetail]="userDetail" [displayInput]="displayInput"></app-detail-change>
</div>